@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
  --background-color: #030303;
  --font-color: #ffffff;
  --radio-background: #ffffff;
  --selected-radio-color: #6741d9;
  --input-border: #ffffff;
  --graph-bars-color: #f0c3f1;
  --bar-axis-markings-color: #ffffff;
  --save-button-background: #6741d9;
  --save-button-hover: #f0c3f1;
  --greyed-out-radio-background: #c2c2c2;
  --greyed-out-field-border: #c2c2c2;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  letter-spacing: 1px;
}

body {
  background-color: var(--background-color);
  font-family: "Poppins", sans-serif;
}

.grid {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr;
  align-items: center;
  gap: 50px;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

.w-full {
  width: 600px;
}

input {
  cursor: pointer;
}
